{% extends 'base.html.twig' %}

{% block body %}
<h1>Connexion SQL Server</h1>

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

<form method="post" action="{{ path('app_login') }}">

    <label>Serveur :</label>
    <input type="text" name="host" value="sqlserver" required><br>

    <label>Port :</label>
    <input type="number" name="port" value="1433" required><br>

    <label>Base de données :</label>
    <input type="text" name="database" value="TestStress" required><br>

    <label>Utilisateur :</label>
    <input type="text" name="username" value="sa" required><br>

    <label>Mot de passe :</label>
    <input type="password" name="password" required><br>

    <button type="submit">Connexion</button>
</form>
{% endblock %}
